.container {
  padding: 68px 4%;
}

.itemsContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  gap: 32px;
  flex-wrap: wrap;
  box-sizing: border-box;
}
