.moviesContainer {
  padding: 68px 4%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemsContainer {
  width: 100%;
  margin-bottom: 68px;
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  flex-wrap: wrap;
  box-sizing: border-box;
}

/* Estilos para pantallas de móviles */
@media screen and (max-width: 480px) {

  .moviesContainer {
    padding: 68px 2%;
  }

  .itemsContainer {
    gap: 8px;
    box-sizing: border-box;
  }

}
