.hero {
  position: relative;
  height: 100vh;
  min-height: 700px;
  display: flex;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
}

.heroContent {
  position: relative;
  z-index: 2;
  padding: 0 4%;
  max-width: 500px;
}

.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  text-align: start;
}

.description {
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  text-align: start;
}

.buttons {
  display: flex; 
  gap: 1rem
}

.heroImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.infoBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: #1a1a1a;
  color: white;
  transition: all 0.25s;
}

.fadeBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
  background: linear-gradient(transparent, #242424);
  z-index: 1;
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas de móviles */
  .hero {
    height: 75vh;
    align-items: flex-end;
    justify-content: center;
  }

  .title, .description {
    display: none;
  }

  .heroImage img {
    opacity: 1;
    object-position: center center;
  }

  .buttons {
    position: relative;
    top: 24px
  }

  .infoBtn {
    padding: 0.4em 1.2em;
    font-size: 0.75rem;
    border-radius: 24px;
    border: 1px solid white;
  }
}

/* Estilos para dispositivos que SI soportan hover */
@media (hover: hover) and (pointer: fine) {
  .infoBtn:hover {
    background-color: rgba(109, 109, 110, 0.4);
    color: white;
    border: 1px solid white;
  }
}

/* Para móviles y dispositivos táctiles (sin hover o con "pointer: coarse") */
@media (hover: none) or (pointer: coarse) {
  .infoBtn {
    border-radius: 24px;
    border: 1px solid white;
    background-color: #1a1a1a;
  }
}
