.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 68px;
  z-index: 1000;
  /*transition: background-color 0.4s ease;*/
  background: linear-gradient(rgba(0, 0, 0, 0.7) 10%, transparent);
  box-sizing: border-box;
  padding: 0 4%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.filterContainer {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 32px;
}
