.sliderContainer {
  position: relative;
  width: 100%;
  height: fit-content;
  overflow-x: hidden;
}

.slider {
  position: relative;
  width: 100%;
  height: fit-content;
}

.slidesWrapper {
  position: relative;
  width: 500%; /* 5 slides × 100% */
  height: fit-content;
  display: flex;
  transition: transform 0.8s ease-in-out;
  touch-action: none;
}

.slide {
  width: 20%; /* 100% / 5 slides */
  height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dotsContainer {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  z-index: 3;
  padding: 0.5rem 1rem;
  border-radius: 25px;
}

.dot {
  width: 16px;
  height: 16px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.8); /* Borde más visible */
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  backdrop-filter: blur(5px);
}

.dot:hover {
  background: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 1);
  transform: scale(1.2);
}

.activeDot {
  background: white;
  border-color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Sombra más fuerte */
}

@media screen and (max-width: 480px) {
  /* Estilos para pantallas de móviles */
  .sliderContainer {
    align-items: flex-end;
    justify-content: center;
  }

  .dotsContainer {
    display: none;
  }
}
